USE [master]
GO
/****** Object:  Database [TechnicalTestDB]    Script Date: 17/03/2023 3:31:28 p. m. ******/
CREATE DATABASE [TechnicalTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TechnicalTestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TechnicalTestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TechnicalTestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TechnicalTestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TechnicalTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TechnicalTestDB]
GO
/****** Object:  Table [dbo].[People]    Script Date: 17/03/2023 3:31:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Names] [varchar](20) NULL,
	[LastNames] [varchar](25) NULL,
	[IndentificationType] [varchar](20) NULL,
	[IdentificationNumber] [varchar](10) NULL,
	[Email] [varchar](25) NULL,
	[FullName] [varchar](50) NULL,
	[FullIdentification] [varchar](40) NULL,
	[CreationDate] [date] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/03/2023 3:31:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](10) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[CreatedDate] [date] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[SP_SelectAllPeople]    Script Date: 17/03/2023 3:31:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SelectAllPeople]
AS
BEGIN
SELECT p.Id, 
		p.Names, 
		p.LastNames,
		p.IndentificationType, 
		p.IdentificationNumber, 
		p.Email, 
		p.FullName, 
		p.FullIdentification, 
		p.CreationDate, 
		p.UserId,
		u.UserName,
		u.Password,
		u.CreatedDate
FROM People p JOIN Users u ON p.UserId = u.Id
END;
GO
USE [master]
GO
